<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>crud</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body class="btn">
    <div>
        <h1>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Create&nbsp; New Student</h1>
    </div>
    <div class="form">
        <form action="#" th:action="@{/save}" th:object="${student}" method="post">
    <div class="sn"><label class="form-label">Student Name</label><input type="hidden" th:field="*{id}"></div>
    <div><input type="text" th:field="*{studentname}"></div>
    <div class="co"><label class="form-label">Course&nbsp;</label></div>
    <div><input type="text" th:field="*{course}"></div>
    <div class="co"><label class="form-label">Fee</label></div>
    <div><input type="text" th:field="*{fee}"></div>
    <div class="btn"><button class="btn btn-primary" type="button">Save</button></div>
    </form>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>